body {
    margin-top: 30%;
    margin: 5%;
    background-color: green;
    display: grid;
    cursor: pointer;
    justify-content:center;
}

.card {
    display: inline-block;
    padding: 10px;
    margin: auto;
    background-color: white;
    color: red; 
    position: relative;
    height: 160px;
    width: 100px;
    border: 1px solid black; 
    border-radius: 8%;
    display: flex;
    justify-content:center;
    align-items: center;
}

.card-header {
    position: absolute;
    color: red;
    top: 0;
    left: 0;
    padding: 10px;
}


.card-footer {
    position: absolute;
    color: red;
    bottom: 0;
    right: 0;
    transform: rotate(180deg);
    padding: 10px;
}
